@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--bodyFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #356DF1;
    --colorBlack: #1F2937;
    --colorWhite: #ffffff;
    --paraColor: #787882;
    --bodyFont: "Roboto", sans-serif;
}











/*  */
.main_menu {
    background: var(--colorBlack);
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.main_menu .navbar-brand {
    margin: 0;
    padding: 0;
    width: 170px;
}

.main_menu .navbar-nav {}

.main_menu .navbar-nav .nav-item {}

.main_menu .navbar-nav .nav-item .nav-link {
    padding: 0;
    margin: 0px 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--colorWhite);
    text-transform: capitalize;
    line-height: 70px;
    transition: all linear .3s;
    opacity: .8;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item .nav-link:hover {
    opacity: 1;
}

.main_menu .right_menu {
    gap: 10px;
}

.main_menu .right_menu li {}

.main_menu .right_menu li a {
    padding: 10px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: var(--colorWhite);
    background: #3c4656;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 6px;
}

.main_menu .right_menu li a:hover {
    background: var(--colorPrimary);
}

.main_menu .right_menu li .sign_in {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}

.main_menu .right_menu li .sign_in:hover {
    background: #0948db;
}











/*  */
.wsus__products {}

.headeing_area {}

.headeing_area h2 {
    font-size: 32px;
    font-weight: 600;
}








.wsus__single_product {
    margin-top: 25px;
    box-shadow: 0px 5px 35px 0px rgb(10 37 64 / 15%);
    padding: 10px;
    background: var(--colorWhite);
    border-radius: 10px;
    ovwe: inherit;
}

.wsus__single_product_img {
    display: block;
    height: 225px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    border: 1px solid #eee;
}

.wsus__single_product_text {
    padding: 25px 15px 15px 15px;
    position: relative;
}

.wsus__single_product_text .price {
    color: var(--colorPrimary);
    font-size: 16px;
    font-weight: 700;
    background: #ebf1ff;
    padding: 3px 15px 1px 15px;
    display: inline-block;
    margin-bottom: 10px;
}

.wsus__single_product_text .pro_name {
    color: var(--colorBlack);
    font-weight: 700;
    font-size: 22px;
    display: block;
    margin: 7px 0px 10px 0px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__single_product_text .pro_name:hover {
    color: var(--colorPrimary);
}

.wsus__single_product_text .category {
    color: var(--paraColor);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.wsus__single_product_text .category span {
    font-size: 13px;
    color: #F2B827;
}

.wsus__single_product_text .category span b {
    color: var(--paraColor);
    font-weight: 400;
    margin-left: 5px;
}

.wsus__single_product_text .title {
    font-size: 18px;
    font-weight: 500;
}

/*  */



/*  */
footer {
    background: var(--colorBlack);
    padding: 50px 0px;
}

.Subscribe_area {
    /* padding: 50px 0px; */
}

.wsus__subscribe_text {}

.wsus__subscribe_text h3 {
    color: var(--colorWhite);
    font-size: 24px;
    margin-bottom: 10px;
}

.wsus__subscribe_text p {
    color: var(--colorWhite);
    opacity: 0.8;
}

.wsus__subscribe_form {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: var(--colorWhite);
}

.wsus__subscribe_form input {
    border-radius: 0;
    border: none;
    background: transparent;
}

.wsus__subscribe_form button {
    position: absolute;
    top: 3px;
    right: 3px;
    background: var(--colorPrimary);
    width: 120px;
    /* height: 100%; */
    color: var(--colorWhite);
    padding: 9px 20px;
    border-radius: 8px;
}

.wsus__subscribe_form button:hover {
    background: #0948db;
}

.wsus__copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eeeeee1a;
    padding-top: 45px;
    margin-top: 45px;
}

.wsus__copyright p {
    color: var(--colorWhite);
    opacity: .5;
}

.wsus__copyright ul {
    gap: 20px;
}

.wsus__copyright ul li {}

.wsus__copyright ul li a {
    color: var(--colorWhite);
    opacity: .5;
    font-size: 16px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.wsus__copyright ul li a:hover {
    opacity: 1;
}













/*  */